/postgres/airflow/data
/postgres/mlflow/data
/postgres/hive/data
/postgres/superset/data
/airflow/logs/*
/airflow/dags/__pycache__
/airflow/plugins/__pycache__
/landing_zone/*
/hdfs/name/*
/hdfs/data/*
/redis/data
/redis/superset_data
/kafka/data